* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #B2D8D8;
}
/* Header */
.nav-content {
    margin: 5px;
    padding: 2px;
    background-color: teal;
    border-radius: 3px;
    box-shadow: -2px 2px 3px 2px grey;
}
.nav-content .logo .picture {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
}
.nav-content .nav {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2%; right: 2%;
    display: inline-block;
}
.nav-content .nav li {
    display: inline-block;
    list-style: none;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

/* Aside */
.boss {
    margin: 10px;
    padding: 2px;
}
.boss .left {
    display: inline-block;
    border: solid black 2px;
    border-radius: 5px;
    width: 13%;
    margin: 1%;
}
.boss .left .list-left {
    margin: 5%;
    padding: 3%;
}
.boss .left .list-left .imgsAside {
    display: block;
    margin: 10px;
    padding: 10px;
    border: solid grey 2px;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

/* Section */