* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}

.container {
    border: 0.3rem solid black;
    display: flex;
}
.box {
    width: 10rem;
    height: 10rem;
}
.box1 {
    background-color: blue;
}
.box2 {
    background-color: blueviolet;
}
.box3 {
    background-color: brown;
}
.box4 {
    background-color: burlywood;
}
.box5 {
    background-color: cadetblue;
}
.box6 {
    background-color: chartreuse;
}